In [1]:
# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Visualización
# ------------------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns

# Evaluar linealidad de las relaciones entre las variables
# ------------------------------------------------------------------------------
from scipy.stats import shapiro, kstest

# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

# Gestión de los warnings
# -----------------------------------------------------------------------
import warnings
warnings.filterwarnings("ignore")

In [2]:
df_brands = pd.read_csv("../files/sustainable_fashion_trends_2024.csv")

df_brands.head()

,Brand_ID,Brand_Name,Country,Year,Sustainability_Rating,Material_Type,Eco_Friendly_Manufacturing,Carbon_Footprint_MT,Water_Usage_Liters,Waste_Production_KG,Recycling_Programs,Product_Lines,Average_Price_USD,Market_Trend,Certifications
0,BRAND-0001,Brand_1,Australia,2018,D,Tencel,No,1.75,4511152.79,97844.11,No,2,38.33,Growing,GOTS
1,BRAND-0002,Brand_2,Japan,2015,D,Vegan Leather,Yes,124.39,1951566.31,37267.75,No,15,250.07,Growing,GOTS
2,BRAND-0003,Brand_3,USA,2024,A,Vegan Leather,No,336.66,467454.52,38385.92,No,2,146.16,Growing,B Corp
3,BRAND-0004,Brand_4,Italy,2023,D,Bamboo Fabric,No,152.04,899576.90,32665.45,No,13,165.52,Stable,OEKO-TEX
4,BRAND-0005,Brand_5,USA,2016,D,Bamboo Fabric,Yes,415.63,1809219.90,37295.47,Yes,19,211.63,Stable,Fair Trade

In [3]:
df_brands['Certifications'].unique()

array(['GOTS', 'B Corp', 'OEKO-TEX', 'Fair Trade', nan], dtype=object)

In [4]:
for columna in df_brands:
    print(f'La columna {columna} tiene estos valores únicos:')
    print(df_brands[columna].unique())
    print('----------------------------')

La columna Brand_ID tiene estos valores únicos:
['BRAND-0001' 'BRAND-0002' 'BRAND-0003' ... 'BRAND-4998' 'BRAND-4999'
 'BRAND-5000']
----------------------------
La columna Brand_Name tiene estos valores únicos:
['Brand_1' 'Brand_2' 'Brand_3' ... 'Brand_4998' 'Brand_4999' 'Brand_5000']
----------------------------
La columna Country tiene estos valores únicos:
['Australia' 'Japan' 'USA' 'Italy' 'Brazil' 'France' 'India' 'UK'
 'Germany' 'China']
----------------------------
La columna Year tiene estos valores únicos:
[2018 2015 2024 2023 2016 2017 2022 2011 2012 2013 2020 2021 2014 2010
 2019]
----------------------------
La columna Sustainability_Rating tiene estos valores únicos:
['D' 'A' 'B' 'C']
----------------------------
La columna Material_Type tiene estos valores únicos:
['Tencel' 'Vegan Leather' 'Bamboo Fabric' 'Recycled Polyester' 'Hemp'
 'Organic Cotton']
----------------------------
La columna Eco_Friendly_Manufacturing tiene estos valores únicos:
['No' 'Yes']
----------------------------
La columna Carbon_Footprint_MT tiene estos valores únicos:
[  1.75 124.39 336.66 ...  68.24 321.12 124.83]
----------------------------
La columna Water_Usage_Liters tiene estos valores únicos:
[4511152.79 1951566.31  467454.52 ...  317800.67  927539.68 3402552.7 ]
----------------------------
La columna Waste_Production_KG tiene estos valores únicos:
[97844.11 37267.75 38385.92 ... 81467.21 34506.22 81958.82]
----------------------------
La columna Recycling_Programs tiene estos valores únicos:
['No' 'Yes']
----------------------------
La columna Product_Lines tiene estos valores únicos:
[ 2 15 13 19 10 17 18 11  9  1 20  5  8  3 16 12 14  7  6  4]
----------------------------
La columna Average_Price_USD tiene estos valores únicos:
[ 38.33 250.07 146.16 ... 431.32 322.95 205.62]
----------------------------
La columna Market_Trend tiene estos valores únicos:
['Growing' 'Stable' 'Declining']
----------------------------
La columna Certifications tiene estos valores únicos:
['GOTS' 'B Corp' 'OEKO-TEX' 'Fair Trade' nan]
----------------------------

In [5]:
df_brands.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Brand_ID                    5000 non-null   object
 1   Brand_Name                  5000 non-null   object
 2   Country                     5000 non-null   object
 3   Year                        5000 non-null   int64
 4   Sustainability_Rating       5000 non-null   object
 5   Material_Type               5000 non-null   object
 6   Eco_Friendly_Manufacturing  5000 non-null   object
 7   Carbon_Footprint_MT         5000 non-null   float64
 8   Water_Usage_Liters          5000 non-null   float64
 9   Waste_Production_KG         5000 non-null   float64
 10  Recycling_Programs          5000 non-null   object
 11  Product_Lines               5000 non-null   int64
 12  Average_Price_USD           5000 non-null   float64
 13  Market_Trend                5000 non-null   object
 14  Certifications              3996 non-null   object
dtypes: float64(4), int64(2), object(9)
memory usage: 586.1+ KB

In [6]:
df_brands.describe().T

,count,mean,std,min,25%,50%,75%,max
Year,5000.0,2.016956e+03,4.347466e+00,2010.00,2.013000e+03,2017.000,2021.000,2024.00
Carbon_Footprint_MT,5000.0,2.503176e+02,1.428023e+02,1.04,1.266150e+02,250.650,372.255,499.93
Water_Usage_Liters,5000.0,2.517862e+06,1.429043e+06,50106.18,1.293087e+06,2499095.995,3763859.550,4999596.61
Waste_Production_KG,5000.0,5.010730e+04,2.874638e+04,1026.38,2.534080e+04,50466.340,74984.650,99947.85
Product_Lines,5000.0,1.043120e+01,5.706573e+00,1.00,5.000000e+00,10.000,15.000,20.00
Average_Price_USD,5000.0,2.593542e+02,1.377310e+02,20.02,1.428650e+02,258.615,378.595,499.94

In [7]:
df_brands.isna().sum()

Brand_ID                         0
Brand_Name                       0
Country                          0
Year                             0
Sustainability_Rating            0
Material_Type                    0
Eco_Friendly_Manufacturing       0
Carbon_Footprint_MT              0
Water_Usage_Liters               0
Waste_Production_KG              0
Recycling_Programs               0
Product_Lines                    0
Average_Price_USD                0
Market_Trend                     0
Certifications                1004
dtype: int64