In [2]:
# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Visualización
# ------------------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns

# Evaluar linealidad de las relaciones entre las variables
# ------------------------------------------------------------------------------
from scipy.stats import shapiro, kstest

# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

# Gestión de los warnings
# -----------------------------------------------------------------------
import warnings
warnings.filterwarnings("ignore")

In [3]:
df_sust = pd.read_csv("files/lifestyle_sustainability_data.csv")

In [4]:
df_sust.head()

,ParticipantID,Age,Location,DietType,LocalFoodFrequency,TransportationMode,EnergySource,HomeType,HomeSize,ClothingFrequency,SustainableBrands,EnvironmentalAwareness,CommunityInvolvement,MonthlyElectricityConsumption,MonthlyWaterConsumption,Gender,UsingPlasticProducts,DisposalMethods,PhysicalActivities,Rating
0,1,35,Urban,Mostly Plant-Based,Often,Bike,Renewable,Apartment,800,Rarely,True,5,High,100,1500,Female,Rarely,Composting,High,5
1,2,28,Suburban,Balanced,Sometimes,Public Transit,Mixed,House,1500,Sometimes,True,4,Moderate,250,3000,Male,Sometimes,Recycling,Moderate,4
2,3,65,Rural,Mostly Animal-Based,Rarely,Car,Non-Renewable,House,2500,Often,False,2,Low,400,4500,Male,Often,Landfill,Low,1
3,4,42,Urban,Mostly Plant-Based,Often,Walk,Renewable,Apartment,950,Sometimes,True,4,Moderate,150,2000,Female,Rarely,Recycling,High,5
4,5,31,Suburban,Balanced,Sometimes,Public Transit,Mixed,House,1800,Often,True,3,Low,300,3500,Non-Binary,Sometimes,Combination,Moderate,3

In [5]:
df_sust.shape

(499, 20)

In [6]:
df_sust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499 entries, 0 to 498
Data columns (total 20 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ParticipantID                  499 non-null    int64
 1   Age                            499 non-null    int64
 2   Location                       499 non-null    object
 3   DietType                       499 non-null    object
 4   LocalFoodFrequency             499 non-null    object
 5   TransportationMode             499 non-null    object
 6   EnergySource                   499 non-null    object
 7   HomeType                       499 non-null    object
 8   HomeSize                       499 non-null    int64
 9   ClothingFrequency              499 non-null    object
 10  SustainableBrands              499 non-null    bool
 11  EnvironmentalAwareness         499 non-null    int64
 12  CommunityInvolvement           381 non-null    object
 13  MonthlyElectricityConsumption  499 non-null    int64
 14  MonthlyWaterConsumption        499 non-null    int64
 15  Gender                         499 non-null    object
 16  UsingPlasticProducts           499 non-null    object
 17  DisposalMethods                499 non-null    object
 18  PhysicalActivities             391 non-null    object
 19  Rating                         499 non-null    int64
dtypes: bool(1), int64(7), object(12)
memory usage: 74.7+ KB

In [7]:
df_sust.describe()

,ParticipantID,Age,HomeSize,EnvironmentalAwareness,MonthlyElectricityConsumption,MonthlyWaterConsumption,Rating
count,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000
mean,250.024048,44.052104,1518.046092,3.062124,291.963928,3139.521042,3.430862
std,144.233925,14.904828,672.212235,1.342145,120.482275,1224.609306,1.502585
min,1.000000,18.000000,407.000000,1.000000,55.000000,536.000000,1.000000
25%,125.500000,31.000000,951.500000,2.000000,185.000000,2000.000000,2.000000
50%,250.000000,44.000000,1450.000000,3.000000,295.000000,3350.000000,4.000000
75%,374.500000,58.000000,1995.000000,4.000000,400.000000,4100.000000,5.000000
max,500.000000,96.000000,2997.000000,5.000000,498.000000,5250.000000,5.000000

In [9]:
for columna in df_sust:
    print(f'La columna {columna} tiene estos valores únicos:')
    print(df_sust[columna].unique())
    print('----------------------------')

La columna ParticipantID tiene estos valores únicos:
[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126
 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144
 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162
 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180
 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198
 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216
 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234
 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252
 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270
 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288
 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305 306
 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324
 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341 342
 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359 360
 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377 378
 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396
 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413 414
 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431 432
 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449 450
 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467 468
 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485 486
 487 489 490 491 492 493 494 495 496 497 498 499 500]
----------------------------
La columna Age tiene estos valores únicos:
[35 28 65 42 31 58 25 39 52 29 48 36 61 27 44 59 32 50 24 63 41 30 57 26
 49 37 62 22 40 53 33 45 60 46 56 23 47 38 21 54 34 55 43 68 20 66 51 19
 18 73 69 75 71 64 67 74 72 96 80 70]
----------------------------
La columna Location tiene estos valores únicos:
['Urban' 'Suburban' 'Rural']
----------------------------
La columna DietType tiene estos valores únicos:
['Mostly Plant-Based' 'Balanced' 'Mostly Animal-Based']
----------------------------
La columna LocalFoodFrequency tiene estos valores únicos:
['Often' 'Sometimes' 'Rarely' 'Always']
----------------------------
La columna TransportationMode tiene estos valores únicos:
['Bike' 'Public Transit' 'Car' 'Walk']
----------------------------
La columna EnergySource tiene estos valores únicos:
['Renewable' 'Mixed' 'Non-Renewable']
----------------------------
La columna HomeType tiene estos valores únicos:
['Apartment' 'House' 'Other']
----------------------------
La columna HomeSize tiene estos valores únicos:
[ 800 1500 2500  950 1800 2200  600 1600 2000 1100 1400  900  750 1300
 1050 1900  650 1550  850 2400 1200 1000  700 1150 1450  680 2300  880
 1700  720 2100  980  780 1250 1080 1950  670  920 2350  620 1650 1980
 1130 1480  690 2250 1750  730 2050 1350 1020  760 1280 1070 1850  660
 1420  930 2320  610 1680 1960 2080  990 1530 1880 1110 1630  710 2150
 1010 1570  770 1320 1060 1870  655 1430  940 1820 1120 1470  715 2180
 1030 1520  755 1270 1090 1940 1380 1920 1580  960 2280  630 1660 1990
 1140 1390  970  765 1310 1860  665 1440 2290  640 1690 1970 1360 1910
 1590  975 2295  625 1670 1135  965  775 1305 1890  675  985 2310  635
 1685 1995 1145 1370  695 2305 1655 1395 1315 1085 1895 1460 1695 1965
 1155 1540 1915  685 1585 2315 1665 1465 2742 1355 2240 1453  440 2567
 2402 2095  713 1233 2914  613  517  897 1129 2747 1657 2857 2219 2603
 1547  704  651  421 1594  607 2997 2505 1987 2819 2433 2850 1522 1040
 1682 1577 1859 2766 1544 2439 2042  583 2618  599  590 1344 1459 1472
  808 2815 1327 2445  753  837 2859 1699 1771 1809 1435 2405  661 2602
  483 1351 2052 2382 1978  560  486 2038 2988 2064 1993 2606 2711 2094
 1758  545  682 2160  464 2204 1968  773 2552 2650 2273 1909 1089 2589
 1373  467 2312 2664  416 1676 2941 2274 2869 1052 2809  407 1761 1183
  721 1288 2429 2526 1077 1458 1792 1083 2118 2645 2956 2020 1228 1411
 1576  777  751  606  813  879 1345  987 1876  854 1234 1444 1401 1652
 1058 2556 1433  462 2375  934 2424  830 1917  818 1769 1637 2055 1659
 1662 2122 1691 1692 1095  953  989  664  836 2934 1975 2774  419 2652
  958 2456  567 1198 2123  789 2345 1567  678 1996  589 1361 2426 2896
 2522 2764 2966 2715 1588  852 2510 1290 1193 2541 1991 2575 1231  691
 2063 1632  668 2875  857 1808 1638  871 2446 2628 2453 1953  828  851
 2458 2321  441 1927  844 2359 1123  890 1098  654 1789 1678]
----------------------------
La columna ClothingFrequency tiene estos valores únicos:
['Rarely' 'Sometimes' 'Often' 'Always']
----------------------------
La columna SustainableBrands tiene estos valores únicos:
[ True False]
----------------------------
La columna EnvironmentalAwareness tiene estos valores únicos:
[5 4 2 3 1]
----------------------------
La columna CommunityInvolvement tiene estos valores únicos:
['High' 'Moderate' 'Low' nan]
----------------------------
La columna MonthlyElectricityConsumption tiene estos valores únicos:
[100 250 400 150 300 450  80 200 350 380 120 280 420 160 220 320 130 260
 480  90 290 180 360 170 270 460 110 210 340 390 140 310 430 230 330 410
 470 370 440 240  95 215 355 145 295 335 375 225 175 405 125 305 445 165
 235 325 155 285 205 365 315 185 425 245 105 345 465 385 435 115 415 135
 475 395 190 195 131 153  71 188 422 414 123 469 409 351 244 318 431 201
 466 168 492 178 138 372 379 413 292 159 479 486 231 262 288 484 394 374
  78 118 387 376 198 487 303 448 256 207 358 461 298 458 319 490 291 289
  58 344 352  69  79 436 455  67 364  59 142 373 183 362 147 396 216 254
 383 184 211 176 218 382 498 164 111 324 368 478 416 473 267 146 252 439
 266 417 182 148 261 442 151 488 126 273 313 136 423  81 441 171  89 128
 317 197 158 302 357 377 299  60 339 367 404  55 359 101 451 494 228 388
 496 202 491 421 294 236 327 333 103 276 427 275 191 349 497 356 452 286
 397 456 331 226 157 433 203 438]
----------------------------
La columna MonthlyWaterConsumption tiene estos valores únicos:
[1500 3000 4500 2000 3500 5000 1200 2800 4000 4200 1800 3200 4800 2200
 3800 4600 1900 3100 5200 1400 3400 2600 4100 2100 3300 5100 1600 2900
 3900 4300 1950 3600 4900 1550 4700 1300 4050 1850 3450 3700 2500 2300
 4400 2050 1350 2850 3950 4250 2950 2550 4650 3550 4950 2250 3050 3850
 4550 4150 3650 2650 4750 3150 3350 5150 4350 1650 5250 1450 4450 2400
 2350 4850 2450  571 2727 3465 3414 4364 4270 3608 1099 1070 2824 4638
 4483 3897 2455 4078 3570 3548 3373 4203 1622 3681 4870  565 1176 1641
 4546  617 3305 4120  757 2059 4895 4055 1055 1899 3749 4322 1745 1987
 2966 4923 2771 1524 4232 3390 3944 1429 4035 2120  873 1440 4080 4424
 3864 3216 1936 1808 2078 4012 1985 1923 3417 2206 3492 4425 3560  979
 3256 3544 3747 2159 2558 3579  946 2228 4306  689 3847 2419 3588 4748
 1079 1908 3680 1556 4028 3360 1168 4592 2190  792 4686 2145 1813 1566
 1890 3212 3338 3334  536 1941 4654 2062 2308 4834 1593 4509 3697  879
 3530 2473 2952 2701 3687 2792 3779  767 3218 4979 1047 3395 3457  545
 1947 3794 3812 3186 1438 3920 4174 3382 1017 3429 2595 3015  554 3455
 1128 4216 1234 2334 3125 4219 1485 3638 3898 3641 3814  931 1159 2838
 4722  614 3022  794 3134 4637 1978 3937  923 2079  538 4994 2751  967
 2208 1497 1945 3851 1166 4313 1414 1990 3442 2941 2092 1618 3051 1765
 1996 4008 3963 4702 3790 1197 4968 4111 2181 1591 3973 1918 3156 3857
 2294 3367 3961 1891 1399 1965 3825 3819 3679 1542 1241 2717 4889 4076
 2066  692 2226 4873 3863 1501 1290 3181  608 4032 4560 2311 2162 2957
 4943]
----------------------------
La columna Gender tiene estos valores únicos:
['Female' 'Male' 'Non-Binary' 'Prefer not to say']
----------------------------
La columna UsingPlasticProducts tiene estos valores únicos:
['Rarely' 'Sometimes' 'Often' 'Never']
----------------------------
La columna DisposalMethods tiene estos valores únicos:
['Composting' 'Recycling' 'Landfill' 'Combination']
----------------------------
La columna PhysicalActivities tiene estos valores únicos:
['High' 'Moderate' 'Low' nan]
----------------------------
La columna Rating tiene estos valores únicos:
[5 4 1 3 2]
----------------------------